<p>Title: <%= movie.title %></p>
<p>Description: <%= movie.description %></p>
<p>Average_rating: <%= movie.average_rating %></p>
<img src="https://klike.net/uploads/posts/2020-04/1587719791_1.jpg"  width="104" height="142">
